@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

body{
    min-height: 100vh;
    margin: 0;
    font-family: Poppins;
    color: #1E1E1E;
    background-color: #CDCDCD;
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 150px, #0001 150px 151px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 150px, #0001 150px 151px
    ),
    linear-gradient(to right, #ffffff, #ffffffcc);}

:root{
    --main-color: #dd2c00;
    --black-color: #121212;
    --light-gray: #f5f5f5;
    --dark-gray: #555555;
    --hover-red: #ff4c4c;

    border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease ;
}


/*! base html codes */
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: white;
}

html::-webkit-scrollbar-track{
    background-color: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: var(--black-color);
}


section{
    padding: 3.5rem 7%;
}

a{
    color: var(--black-color);
    text-decoration: none;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.btn:hover{
    opacity: 0.75;
}

.heading {
    color: #ff0000;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #fff;
    
}

.heading span{
    color: var(--black-color);
    text-transform: uppercase;

}

.search-input{
    font-size: 1.6rem;
    color: var(--black-color);
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;

}

.header .navbar.active,
.header .navbar a:hover{
    border-color: var(--main-color);
    padding-bottom: 0rem;
}

.header .navbar.active{
    right : 3rem;
}

/*! header start */

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    box-shadow: 0px 0px 25px 2px rgba(0 0 0 / 75%);
    transform: scaleY(0);
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form i{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black-color);
}

.header .logo img{
    height: 10rem;
    border-radius: 100px;
}

.header{
    background-image: url(../images/navbar.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    position: sticky;
    top: 0;
    z-index: 1000;
    font-weight: bold;
}

.header .navbar{
    color: #fff;
    z-index: 0;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #ffffff;
    border-bottom: 0.1rem solid transparent;
}

.header .navbar a:hover{
    color:  #007bff;;
    transform: scale(1.1);
}

.header .buttons button{
    color: #ffffff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
    transition: color 0.3s ease, transform 0.3s ease;
}

.header .buttons button:hover {
    color:  #007bff;
    transform: scale(1.1);
}
/*! header end */

/*! günün menüsü start */

.gunun-menusu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.gunun-menusu .box-container .box{
    background-color:#DD2C00;
    border-radius: 3rem;
}

.gunun-menusu .box-container .box .image{
    height: 35rem;
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.gunun-menusu .box-container .box .image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}


.gunun-menusu .box-container .box:hover .image img {
    transform: scale(1.2) ;
}


.gunun-menusu .box-container .box .content{
    padding: 2rem;
}

.gunun-menusu .box-container .box .content .title{
    color: #ffffff;
    line-height: 1.5rem;
    font-size: 2.5rem;
}

.gunun-menusu .box-container .box .content span{
    display: block;
    color: #ffffff;
    padding-top: 1rem;
    font-size: 2rem;
}

.gunun-menusu .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color: #ccc;
    padding: 1rem 0;
}

.gunun-menusu .box-container .box .content .btn{
    color: var(--main-color);
    background-color: #fff;
    font-weight: bold;
}
/*! günün menüsü end */

/*! popüler yemekler start */

.populer-yemekler .carousel {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    gap: 20px;
    padding: 10px;
    scroll-behavior: smooth;
}

.populer-yemekler .carousel .card {
    flex: 0 0 auto; /* Kartlar sabit genişlikte kalsın */
    width: 340px; /* Kart genişliğini belirle */
    height: 520px; /* Kart yüksekliği */
    margin: 30px; /* Kartlar arası mesafe */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    scroll-snap-align: center; /* Kart hizalamasını merkezde tut */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
    transition: transform 0.5s ease-in-out;
}

.populer-yemekler .carousel:hover .card {
    transform: scale(1.05); /* Kartı biraz büyütme efekti */
}

.populer-yemekler .carousel .card .image-container {
    height: 65%;
    overflow: hidden;
    border-radius: 5px;
}

.populer-yemekler .carousel .card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Görüntülerin taşmasını önler */
    border-radius: 5px;
}

.populer-yemekler .carousel .card h1{
    font-size: 10px;
}

.populer-yemekler .carousel .card h4{
    font-size: 12px;
}

.populer-yemekler .carousel .card .recipe-image{
    background-color: #dfdddd;
    display: flex;
    align-items: center;
    gap: 0px;
    height: 25px;
    width: 55px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.populer-yemekler .carousel .card .recipe-image img{
    height: 20px;
    width: 20px;
}

.populer-yemekler .carousel .card .time{
    font-size: 15px;
    background-color: #dfdddd;
    color: #b92353;
    padding: 2.5px 5px;
    height: 25px;
    width: 45px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.populer-yemekler .carousel .card .kcal-image {
    background-color: #dfdddd;
    display: flex;
    align-items: center;
    gap: 0px;
    height: 30px;
    width: 85px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.populer-yemekler .carousel .card .kcal-image .fa-solid.fa-fire{
    font-size: 1.5rem;
    color: #b92353;
}

.populer-yemekler .carousel .card .cal{
    font-size: 15px;
    background-color: #dfdddd;
    color: #b92353;
    padding: 2.5px 5px;
    height: 25px;
    width: 35px;
}

.populer-yemekler .carousel .card .populer-btn {
    display: flex; /* Kapsayıcı flexbox yap */
    align-items: center; /* Dikeyde ortala */
    justify-content: center; /* Yatayda ortala */
    height: 15%; /* İsteğe bağlı, tam yükseklik */
}

.populer-yemekler .carousel .card .populer-btn:hover{
    opacity: 50%;
}

.populer-yemekler .carousel .card .populer-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 6.5rem;
    height: 6.5rem;
    border: 0.2rem solid var(--main-color);
}

.populer-yemekler .carousel .card .populer-btn a i{
    font-size: 1.6rem;
    color: var(--main-color);
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10; /* Düğmelerin üstte görünmesini sağlar */
    transition: transform 0.3s ease-in-out;
}

.prev:hover, .next:hover {
    transform: translateY(-50%) scale(1.1); /* Hover efekti ile buton büyür */
}

.prev {
    margin-top: 5%;
    left: 35px;
}

.next {
    margin-top: 5%;
    right: 35px;
}

/*! popüler yemekler end */

/*! category start */

.category .box-container {
    display: flex;
    flex-wrap: wrap; /* Satır sonuna gelince yeni bir satıra geçer */
    gap: 20px; /* Kutular arasındaki boşluk */
    justify-content: center;
}

.category .box {
    padding: 0; /* Kutuların iç dolgularını sıfırla */
    margin: 0; /* Kutuların dış boşluklarını sıfırla */
    background: none; /* Arka planı kaldır */
    border: none; /* Kenarlıkları kaldır */
    box-shadow: none; /* Gölgeyi kaldır */
    flex: 1 1 calc(33.333% - 20px); /* 3 sütun düzeni */
    max-width: calc(33.333% - 20px);
}


.category .box-container .box .fa.fa-cutlery{
    padding: 10px;
}

.category .box-container .btn {
    display: block; /* Butonu bir kapsayıcı yapar */
    justify-content: center; /* Buton içeriğini yatayda ortalar */
    align-items: center; /* Buton içeriğini dikeyde ortalar */
    width: 100%; /* Kutunun genişliğini alır */
    height: 50%; /* Kutunun yüksekliğini alır */
    font-size: 1.9rem; /* Yazı boyutunu ayarla */
    font-weight: bold; /* Yazı stilini kalın yapar */
    color: #000000; /* Yazı rengi */
    background-color: #ffffff; /* Arka plan rengi */
    border-bottom: 0.2rem solid #DD2C00;
    border-radius: 0px; /* Köşeleri yuvarlar */
    padding-left: 1%;
}

.category .box-container .box h2{
    font-size: 1.4rem;
    color: #a5a5a5;
    padding-left: 8%;
}

.category .box-container .box img{
    height: 35px;
    width: 35px;
}

/*! category end */

/*! Footer Start */
.footer{
    background-color: var(--black-color);
    text-align: center;
    padding-bottom: 0px;
}

.footer .search{
    display: flex;
    justify-content: center;
}

.footer .search .btn-primary:hover {
    background-color: var(--black-color)
}

.footer .search .search-input {
    padding-left: 15px;
    width: 30rem;
    border-radius: 100px;
}

.footer .search .btn-primary{
    background-color:#DD2C00;
    padding: 1rem 2rem;
    margin-left: 1rem;
    border:  0.3px solid #fff;
}

.footer .share{
    padding: 2rem 0;
}

.footer .share a{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    font-size: 2rem;
    border: 0.3px solid #fff;
    border-radius: 50%;
    margin: 0.3rem;
}

.footer .share a:hover{
    background-color: #DD2C00;
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer .links a {
    background-color: #DD2C00;
    padding: 0.7rem 2rem;
    color: #fff;
    font-size: 2rem;
    border: 0.3px solid #fff;
    border-radius: 10px;
}

.footer .links a:hover {
    background-color: var(--black-color);
    opacity: 0.7;
}

.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    padding-top: 1.5rem;
}

.footer .credit span{
    color: #DD2C00;
}
/*! Footer End */

/*! Responsive Start*/

@media (max-width: 991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    .header .logo img{
        height: 7rem;
    }

    section{
        padding: 2rem;
    }

    .products .box-container .box .box-head .name{
        font-size: 3.4rem;
    }
}

@media (max-width: 768px){
    .header #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 95%;
        background-color: #fff;
        height: calc(100vh -9rem);
        box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
        right: -100%;
    }

    .header .navbar .active{
        right: 3rem;
    }

    .header .navbar a{
        color: var(--black-color);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
}

@media (max-width: 576px){
    html{
        font-size: 50%;
    }

}

/*! Responsive End*/